table, th, td{
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
  padding: 0.3rem;
}

tr {
  background-color: honeydew;
}

tr:nth-child(2n) {
  background-color: white;
}

th{
  background-color: gray;
}
